### Operators Contin...

In [1]:
# Bit wise operator
## &, |, >>, <<, ~

In [2]:
##      8421

## 2--> 0010
## 3--> 0011
#=============
##2&3-->0010   --> 2

In [3]:
print(2 & 3)

2

In [ ]:
## 2--> 0010
## 3--> 0011
#=============
##2|3-->0011   --> 3

In [4]:
print(2 | 3)

3

In [6]:
# Right Shift
12 >> 2
# 12/2 = 6, 6/2 = 3

3

In [7]:
30 >> 3

3

In [8]:
# Left shift
12 << 2
# 12 * 2 = 24, 24 * 2 = 48

48

In [10]:
# Identity Oerator
## is, is not
list1 = ['Mounika', 'Swathi']
list2 = ['Mounika', 'Swathi']
print(list1 == list2)
print(list1 is list2)

True
False

In [13]:
print(id(list1), id(list2))

2526144261064 2526143476744

In [11]:
string1 = 'APSSDC'
string2 = 'APSSDC'
print(string1 is string2)

True

In [12]:
print(id(string1), id(string2))

2526144268528 2526144268528

In [14]:
# Membership operator
## in, not in
string1

'APSSDC'

In [15]:
'A' in string1

True

In [16]:
list1

['Mounika', 'Swathi']

In [17]:
'Swathi' not in list1

False

### Strings
- Collection letters or numbers or special symbols which are enclosed between " " or ' '.

In [18]:
# Create a string
string1 = '' # Empty string
string1

''

In [19]:
string2 = str()# Empty string
string2

''

In [20]:
string3 = 'Python Programming'
string3

'Python Programming'

In [25]:
print(len(string3))
print(min(string3))#minimum ascii value
print(max(string3))#max ascii value
print(sorted(string3))

18

y
[' ', 'P', 'P', 'a', 'g', 'g', 'h', 'i', 'm', 'm', 'n', 'n', 'o', 'o', 'r', 'r', 't', 'y']

#### Indexing
- Syntax: variable_name[ index_number ]

In [26]:
string3

'Python Programming'

In [27]:
string3[1]

'y'

In [28]:
string3[0 : 3]

'Pyt'

In [30]:
string3[6]

' '

In [31]:
#  0  1  2  3  4
# -5 -4 -3 -2 -1  --> Negitive index 
#  H  E  L  L  O

In [32]:
string3[-1]

'g'

In [33]:
string3[0::2]
# Alternate valuesalong with 1st value

'Pto rgamn'

In [34]:
string3[0::3]
# Every 3rd value along with1st value

'Ph oai'

In [35]:
string3[::-1]# Reverse

'gnimmargorP nohtyP'

In [36]:
# String Methods
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [37]:
'eswar college'.upper()

'ESWAR COLLEGE'

In [38]:
string4 = 'total count is 50 / 100'
string5 = '127'

In [39]:
string4.isalnum()

False

In [41]:
string5.isdigit()

True

In [42]:
string4.split()

['total', 'count', 'is', '50', '/', '100']

In [43]:
print(type(string4), type(string4.split()))

<class 'str'> <class 'list'>

In [44]:
string6 = '''Only if India's World Cup scheduling had been 
done the other way - starting with Namibia, 
Scotland and Afghanistan, and then followed by 
New Zealand and Pakistan. It's one among the many
thoughts that the Indian team will find 
themselves overburdened with as they now get 
ready to take the flight from UAE back home.'''

In [45]:
string6

"Only if India's World Cup scheduling had been \ndone the other way - starting with Namibia, \nScotland and Afghanistan, and then followed by \nNew Zealand and Pakistan. It's one among the many\nthoughts that the Indian team will find \nthemselves overburdened with as they now get \nready to take the flight from UAE back home."

In [47]:
s1 = '9876543210'
len(s1)

10

In [48]:
help(str.count)

Help on method_descriptor:

count(...)
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [49]:
string4.count('t')

3

In [50]:
string6.splitlines()

["Only if India's World Cup scheduling had been ",
 'done the other way - starting with Namibia, ',
 'Scotland and Afghanistan, and then followed by ',
 "New Zealand and Pakistan. It's one among the many",
 'thoughts that the Indian team will find ',
 'themselves overburdened with as they now get ',
 'ready to take the flight from UAE back home.']

In [51]:
string6.splitlines()[0]

"Only if India's World Cup scheduling had been "

In [53]:
# String concatinate
'Eswar' + ' ' + 'College'

'Eswar College'

In [55]:
# string duplication
'student ' * 3

'student student student '

In [56]:
subjects = 'DA ML AI'
subjects

'DA ML AI'

In [57]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [58]:
subjects.replace('DA', 'DataAnalysis')

'DataAnalysis ML AI'

In [60]:
rollnumber = '20JE1A0507'
print(rollnumber.startswith('20'))
print(rollnumber.endswith('90'))

True
False

### Conditional Statements
- if
- else
- elif

**if condition**

```Python
if condition:
    statement 1
    statement 2
    statement N```

In [61]:
number = 277
if number%7 == 0:
    print('Is Divisible')

In [62]:
277%7

4

In [63]:
number = 277
if number%7 == 0:
print('Is Divisible')# Indentation Error

IndentationError: expected an indented block (<ipython-input-63-1d1448372a79>, line 3)

**else condition**
```Python
if condition:
    statement 1
    statement 2
    statement N
else:
    statement 1
    statement 2
    statement N```

In [65]:
number2 = int(input('Enetr a number'))
if number2%2 != 0:
    print('Odd Number')
else:
    print('Even Number')

Enetr a number88889
Odd Number

In [66]:
n1 = int(input())
n2 = input()
print(type(n1))
print(type(n2))

890
890
<class 'int'>
<class 'str'>

**elif condition**
```Python
if condition 1:
    statement 1
    statement 2
elif condition 2:
    statement 1
    statement 2
else:
    statement 1
    statement 2```

Write a program to check whether the given rollnumber is belongs to which year.
- If given roll number is starts with '20', then print 2nd years
- If given roll number is starts with '21', then print Juniors
- else print Seniors

In [67]:
rollnumber = input()
if rollnumber.startswith('20'):
    print('2nd Years')
elif rollnumber.startswith('21'):
    print('Juniors')
else:
    print('Seniors')

20JE1A0561
2nd Years

In [68]:
rollnumber2 = 'A0CS20507'
if '20' in rollnumber2:
    print('2nd Years')
elif '21' in rollnumber2:
    print('Juniors')
else:
    print('Seniors')

2nd Years

In [70]:
rollnumber2[-5:-3]

'20'

Write a program to check the given year is leap year or not

In [74]:
year = int(input())
if year%400 == 0:
    print('Leap Year')
elif (year%4 == 0 and year%100 != 0):
    print('Laep Year')
else:
    print('Not Leap year')

2020
Laep Year

In [78]:
1800 % 400

200

In [82]:
n3 = 9876543210
len(str(n3))

10

Write program to check the given mail belongs to college or apssdc or personal
- if mailid contains 'edu.in', print college mailid
- if maild contains 'apssdc.in', print sdc organization
- or personal mailid

In [ ]:
'person@yahoo.com'
'pythonapssdc.in@gmail.com'

### Loops
- To iterate in a sequence
    - for
    - while
-  Sequence --> range(values), string, list, tuple, dictionary, sets

In [1]:
# for loop Syntax:
## iter_var = 1 --> Initialization
## condition
## ++ / --


## for iter_var in Sequence:
##      statements

In [2]:
range(10)

range(0, 10)

In [4]:
for i in range(11): # i = 0, i < 10, i++
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [9]:
 for i in range(20, 26):
        print(i,end = '\t')

20	21	22	23	24	25

In [10]:
range(10,1)

range(10, 1)

In [20]:
for i in range(10,0,-1):
    print(i, end = ' ! ')

10 ! 9 ! 8 ! 7 ! 6 ! 5 ! 4 ! 3 ! 2 ! 1 !

In [23]:
for i in range(15, 35, 2):
    print(i, end='\t')
    # every 2nd value along with 1st avlue

15	17	19	21	23	25	27	29	31	33

In [25]:
student = 'Mounika'
for i in student:# i = 'M'
    print(i)

M
o
u
n
i
k
a

In [29]:
for year in range(1800, 2031):
    if(year%400==0)or(year%4==0 and year%100!=0):
        print(year, end = '\t')

1804	1808	1812	1816	1820	1824	1828	1832	1836	1840	1844	1848	1852	1856	1860	1864	1868	1872	1876	1880	1884	1888	1892	1896	1904	1908	1912	1916	1920	1924	1928	1932	1936	1940	1944	1948	1952	1956	1960	1964	1968	1972	1976	1980	1984	1988	1992	1996	2000	2004	2008	2012	2016	2020	2024	2028

In [31]:
s1 = '''Only if India's World Cup scheduling had 
been done the other way - starting with Namibia, 
Scotland and Afghanistan, and then followed by 
New Zealand and Pakistan.'''

In [32]:
len(s1)

165

- Print count of words in given paragraph

In [36]:
for i in s1.split():
    print(i, len(i))

Only 4
if 2
India's 7
World 5
Cup 3
scheduling 10
had 3
been 4
done 4
the 3
other 5
way 3
- 1
starting 8
with 4
Namibia, 8
Scotland 8
and 3
Afghanistan, 12
and 3
then 4
followed 8
by 2
New 3
Zealand 7
and 3
Pakistan. 9

In [37]:
s2 = '2nd years rollnumber 201A05'
for i in s2:
    if i.isdigit():
        print(i)

2
2
0
1
0
5

In [38]:
# 5th table
# 5, 10, 15, 20,.....,50

In [40]:
for i in range(1,51, 5):
    print(i)

1
6
11
16
21
26
31
36
41
46

In [43]:
for i in range(1,11):
    print(i*5, end='  ')

5  10  15  20  25  30  35  40  45  50

In [44]:
for i in range(5,51,5):
    print(i, end='  ')

5  10  15  20  25  30  35  40  45  50

In [45]:
# 5 X 1 = 5
# 5 X 2 = 10

In [49]:
for i in range(1,11):
    print('5 X',i,'='  ,i*5)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

- Print all vowel letter in given paragraph

In [50]:
s3 = '''Only if India's World Cup scheduling had 
been done the other way - starting with Namibia, 
Scotland and Afghanistan, and then followed by 
New Zealand and Pakistan.'''

In [53]:
v = ['a','e','i','o','u']
for i in s3:
    if i in v:
        print(i, end='\t')

i	i	a	o	u	e	u	i	a	e	e	o	e	e	o	e	a	a	i	i	a	i	i	a	o	a	a	a	i	a	a	e	o	o	e	e	e	a	a	a	a	i	a

**While**

In [54]:
# initialization
# while condition:
#     statement
#     ++ / --

In [57]:
i = 1
while(i <= 10):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [59]:
i = 10
while(i >= 1):
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

**break, continue, pass**
- 'Break' will terminate the loop

In [60]:
for i in 'APSSdC':
    if i == 'd':
        break
    print(i)

A
P
S
S

- 'Continue' will skip the statement.

In [61]:
for i in 'APSSdC':
    if i == 'd':
        continue
    print(i)

A
P
S
S
C

- 'pass' is used for empty block

In [64]:
if 12 == 12:
    pass